<div class="main">
                <div class="nav">
                    <h1>Login</h1>
                </div>
                <div class="home">
                  <div class="login">
                      <form [formGroup]="exform" (ngSubmit)="loginUser()" >
                          <input type="email" formControlName="email" [(ngModel)]="user.emailId" class="form-control" id="email" name="emailId" placeholder="Enter email" aria-describedby="emailHelp">
                          <div *ngIf="email?.invalid && email?.touched">
                            <small *ngIf="email?.errors?.['required']" class="text-danger" >email is required</small>
                            <small *ngIf="email?.errors?.['email']" class="text-danger" >enter a valid mail id</small>
                          </div>
                          <input type="password" formControlName="password" [(ngModel)]="user.password" class="form-control" id="password" name="password" placeholder="Enter password">
                          <div *ngIf="password?.invalid && password?.touched">
                            <small  *ngIf="password?.errors?.['required']" class="text-danger" >password is required</small>
                            <small  *ngIf="password?.errors?.['minlength']" class="text-danger" >Atleast 5 characters should be present</small>
                          </div>
                        <button  [disabled]="exform.invalid" type="submit" class="btn btn-primary" id="loginButton">Login</button><span class="btn"> New user/admin?<a routerLink="/signup" id="signupLink">Sign up</a></span>
                      </form>
                  </div>
                </div>
              
                
</div>